ul {
    list-style: none;

}

li {
    display: inline-block;
    margin-right: 10px;
}

.links {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    align-items: start;
    margin-top: -30px;
    color: white;
}

header {
    margin-left: 140px;
    font-weight: bold;
    font-size: larger;
    color: white;
}

.hero-text {
    height: 500;
    width: 100;
    border: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    inline-size: 350px;
}

.hero {
    display: flex;
    margin-left: 140px;
    font-weight: bold;
    font-size: xx-large;
    color: white;
}

.hero-sub {
    display: flex;
    margin-left: 140px;
    flex-wrap: wrap;
    color: gray;
}

button {
    display: flex;
    margin: 10px;
    height: 33px;
    width: 100px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #3882F6;
    color: white;
    margin-left: 140px;
}

.dark-background {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: -8px;
    padding: 10px;
}

.power {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    
}

img {
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.mini-images {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.text {
    max-width: 120px;
}

.block-container {
    margin: 40px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.attribution {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.quote-text {
    background-color: #E5E7EB;
    padding: 100px;
    margin: -10px;
}

.action {
    margin: 100px;
}

.ad {
    background-color: #3882F6;
    color: white;
    padding: 10px;
}

.top-action {
    font-weight: bold;
    margin-left: 25px;
}

.bottom-action {
    margin-left: 25px;
}